# environment & secrets
.env
.venv/

# dbt artifacts
analytics/target/
analytics/dbt_packages/
analytics/logs/
logs/

# local databases
*.duckdb

# OS / editor
.DS_Store
__pycache__/
*.pyc
analytics/.user.yml
analytics/.user.yml
